<div class="detail">
  <h1 class="detail__title">My Order</h1>
  <div class="detail__content">
    <nz-list class="demo-loadmore-list" [nzLoading]="false">
      <nz-list-item *ngFor="let productCart of productsCart">
        <ng-container>
          <nz-list-item-meta [nzDescription]="productCart.productName">
            <nz-list-item-meta-title>
              {{productCart.price | currency: "$":"symbol":"1.0-0"}}
            </nz-list-item-meta-title>
          </nz-list-item-meta>
          <div>
            <span><a (click)="incrementQuantity(productCart)"><i nz-icon nzType="plus" nzTheme="outline"></i></a></span>
            <span>{{productCart.quantity}}</span>
            <span><a (click)="decreaseQuantity(productCart)"><i nz-icon nzType="minus" nzTheme="outline"></i></a></span>
          </div>
          <ul nz-list-item-actions>
            <nz-list-item-action><a (click)="removeProductCart(productCart.id)"><i nz-icon nzType="delete" nzTheme="outline"></i></a></nz-list-item-action>
          </ul>
        </ng-container>
      </nz-list-item>
      <div *ngIf="!hasProductsCart()">
        <nz-skeleton  [nzActive]="true" [nzTitle]="true" [nzLoading]="true" >
        </nz-skeleton>
        <nz-skeleton [nzActive]="true" [nzTitle]="true" [nzLoading]="true" >
        </nz-skeleton>
        <nz-skeleton [nzActive]="true" [nzTitle]="true" [nzLoading]="true" >
        </nz-skeleton>
      </div>

    </nz-list>
  </div>
  <div class="detail__footer">
    <h3>Total</h3>
    <p>{{totalCart | currency: "$":"symbol":"1.0-0" }}</p>
  </div>
  <div class="detail__footer">
    <button nz-button nzType="primary" (click)="createOrder()" [disabled]="!hasProductsCart()">Create Order</button>

  </div>
</div>
