<div class="detail">
  <h1 class="detail__title">Order #1</h1>
  <div class="detail__content">
    <nz-list class="detail__list" [nzLoading]="false">
      <nz-list-item>
        <ng-container>
          <nz-list-item-meta
          >
            <nz-list-item-meta-title>
              <div>
                <span>Name</span>
                <p>Product 1</p>
              </div>
            </nz-list-item-meta-title>
          </nz-list-item-meta>
          <nz-list-item-extra>
            <div>
              <span>Price</span>
              <p>$ 123.00</p>
            </div>
            <div>
              <span>Qty</span>
              <p>4</p>
            </div>
            <div>
              <span>Total</span>
              <p>$ 12323.00</p>
            </div>
          </nz-list-item-extra>

        </ng-container>
        <nz-skeleton *ngIf="false" [nzAvatar]="true" [nzActive]="true" [nzTitle]="false" [nzLoading]="true"> </nz-skeleton>
      </nz-list-item>

    </nz-list>
  </div>
  <div class="detail__footer">
    <h3>Total</h3>
    <p>$ 1234.00</p>
  </div>
</div>
