<nz-layout>
  <nz-header class="header">
    <div class="header__logo">
      <img src="assets/image/logo.png" alt="">
    </div>
    <ul nz-menu class="header__menu" nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item class="header__menu-item" *ngFor="let item of mainMenu" [routerLink]="item.url"
        [routerLinkActive]="['header__menu-item--active']">{{item.text}}</li>
    </ul>
    <div class="header__right-side">
      <a routerLink="shopping-cart"><i nz-icon nzType="shopping-cart" nzTheme="outline"></i> Cart</a>
      <div class="header__auth">
        <a routerLink="auth/login">Sign In</a> / <a routerLink="auth/register">Sign Up</a>
        <div class="header__user" *ngIf="false">
          <span>Nombre Usuario</span>
          <a href=""> <i nz-icon nzType="logout" nzTheme="outline"></i></a>
        </div>
      </div>
    </div>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
</nz-layout>
