nz-layout {
  & .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
      width: 60px;
      img {
        width: 80%;
        max-height: 100%;
      }
    }
    &__menu-item {
      &--active {
        background-color: #fff;
        color: black
      }
    }
    &__right-side {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      & a {
        color: #fff;
        &:hover {
          color: #1890ff
        }
      }
    }
    &__auth {
      margin-left: 15px
    }
    &__user {
      display: flex;
      justify-content: space-between;
      align-items: center;
      & span {
        margin-left: 10px
      }
    }

  }
  nz-content {
    .inner-content {
      background: #f5f5f5;
      padding: 24px;
      min-height: 90vh;
    }
  }

  nz-footer {
    text-align: center;
  }
}
